<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Dark Hand</title>
        <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkbJZ1GrmwzM_pPqlz5zJimqQzaNViEW3kpQ&usqp=CAU">
        <link rel="stylesheet" href="static\css\addFace.css">
        <script src="static\js\addFace.js"></script>

    </head>

    <body>

        <div class="getImg">

            <img id="upload" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyHlhRBUevbh8DcWe7o5epTHj3PS0o7vsV1A&usqp=CAU">
            <input onchange="put(event)" accept="image/*" type="file"> 

        </div>

        <div class="terrorist">

            <input placeholder="Name">
            <br>
            <input type="number" placeholder="Age">
            <br>
            <input placeholder="Residence">
            <br>
            <input placeholder="Group">
            <br>
            <input placeholder="Religion">
            <br>
            <input placeholder="Position">
            <br>
            <input placeholder="Illness">
            
        </div>

        </table>
        
    </body>

</html>