<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Dark Hand</title>
        <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkbJZ1GrmwzM_pPqlz5zJimqQzaNViEW3kpQ&usqp=CAU">
        <link rel="stylesheet" href="static\css\addObj.css">
        <script src="static\js\addObj.js"></script>

    </head>

    <body>

        <div class="getImg">

           
            <img id="upload" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyHlhRBUevbh8DcWe7o5epTHj3PS0o7vsV1A&usqp=CAU">
            <input onchange="put(event)" accept="image/*" type="file"> 

        </div>

        <table class="obj">

            <tr>
                <th colspan="2">
                    Weapon
                </th>
            </tr>

            <tr>
                <td>
                    Name
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Color
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Type
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Power
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Accuracy
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Range
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Reliability
                </td>

                <td>
                    <input>
                </td>
            </tr>

            <tr>
                <td>
                    Portability
                </td>

                <td>
                    <input>
                </td>
            </tr>

        </table>
        
    </body>

</html>