<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Dark Hand</title>
        <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkbJZ1GrmwzM_pPqlz5zJimqQzaNViEW3kpQ&usqp=CAU">
        <link rel="stylesheet" href="static\css\face.css">
        <script src="static/js/face.js"></script>

    </head>

    <body>

        <img class="detectImg" src="https://static.wikia.nocookie.net/jackiechanadventures/images/5/58/EnforcersWithValmont.png">

        <table class="terrorist">

            <tr>
                <th colspan="2">
                    Terrorist
                </th>
            </tr>

            <tr>
                <td>
                    Name
                </td>

                <td>
                    name
                </td>
            </tr>

            <tr>
                <td>
                    Age
                </td>

                <td>
                    age
                </td>
            </tr>

            <tr>
                <td>
                    Gender
                </td>

                <td>
                    gender
                </td>
            </tr>

            <tr>
                <td>
                    Country
                </td>

                <td>
                    country
                </td>
            </tr>

            <tr>
                <td>
                    Group
                </td>

                <td>
                    group
                </td>
            </tr>

            <tr>
                <td>
                    Religion
                </td>

                <td>
                    religion
                </td>
            </tr>

            <tr>
                <td>
                    Position
                </td>

                <td>
                    position
                </td>
            </tr>

            <tr>
                <td>
                    Illness
                </td>

                <td>
                    illness
                </td>
            </tr>

        </table>
        
    </body>

</html>