<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Dark Hand</title>
        <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkbJZ1GrmwzM_pPqlz5zJimqQzaNViEW3kpQ&usqp=CAU">
        <link rel="stylesheet" href="static\css\home.css">
        <script src="static/js/home.js"></script>

    </head>

    <body>

        <form id="loginForm" action="detect" method="post" class="loginForm">

            <div class="credentials">
                <input type="text" id="username" name="username" placeholder="Username or E-mail">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
    
            <a href="forget">Forget Password</a>
    
            <button id="submit" type="submit">Login</button>

            <script>

                var submit = document.getElementById("loginForm");
                submit.onsubmit = (handler,event) => {
                    
                    var username = document.getElementById("username").value.trim();
                    var password = document.getElementById("password").value.trim();

                    console.log(username,password);

                    if(username=="")
                    {
                        alert("Username cannot be empty.");
                        return false;
                    }

                    if(password=="")
                    {
                        alert("password cannot be empty.");
                        return false;
                    }
                };
                

            </script>

        </form>

    </body>

</html>