.detectImg {
    object-fit:contain;
    border: 1px solid black;
    padding: 1%;
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

body {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

table {
    margin-left: 6.5%;
}

table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-size: 2rem;
}

th,td {
    width: 50%;
    padding: 5%;
}