.detectImg {
    width: 48%;
    height: 80%;
    padding: 1%;
    border: 1px solid black;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

body {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

.terrorist {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

table {
    margin-left: 6.5%;
}

table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-size: 2rem;
    width: 50%;
    padding: 3%;
}

td {
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
}

@media screen and (min-width:320px) and (max-width:768px) {           /* Mobile */



}

@media screen and (min-width:769px) {                                  /* Desktop */ 

        .detectImg {
            width: 48%;
            height: 80%;
            padding: 1%;
            border: 1px solid black;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 3%;
            transform: translateY(-50%);
        }

}