.credentials {
    display:flex;
    flex-direction: column;
}

body {
    background-image: url("https://t4.ftcdn.net/jpg/05/18/13/21/360_F_518132106_Qib4GXPoMJGTKdFVHr8AzqE1SepQZYtw.jpg");
    background-size: 100%;
}

.loginForm {
    display: flex;
    border: 2px solid black;
    border-radius: 12px;
    position: absolute;
    background-color:whitesmoke;
    transform: translate(-50%,-50%);
    flex-direction: column;
}

.loginForm button {
    align-self: center;
    border-radius: 10px;
    border: 2px solid blue;
    color: white;
    cursor: pointer;
    background-color: blue;
    font-weight: bold;
}

@media screen and (min-width:320px) and (max-width:768px) {           /* Mobile */

    .loginForm {
        width: 90%;
        height: 50%;
        top: 50%;
        left: 50%;
        padding-left: 2%;
        padding-right: 2%;
        justify-content: center;
    }

    .credentials input {
        padding-left: 3%;
        padding-top: 4%;
        padding-bottom: 4%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: 1rem;
        border-radius: 10px;
    }

    .credentials input:not(:first-child) {
        margin-top: 8%;
    }

    .loginForm a {
        font-size: 1rem;
        margin-top: 8%;
        margin-left: 5%;
    }    

    .loginForm button {
        width: 90%;
        font-size: 1rem;
        margin-top: 10%;
        padding: 2%;
    }

}

@media screen and (min-width:769px) {                                  /* Desktop */

    .loginForm {
        width: 30%;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 2%;
        padding-right: 2%;
        top: 50%;
        left: 30%;
    }

    .credentials input {
        padding: 3%;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    .credentials input:not(:first-child) 
    {
        margin-top: 6%;
    }

    .loginForm a {
        font-size: 1.2rem;
        margin-top: 8%;
    }

    .loginForm button {
        width: 90%;
        font-size: 1.2rem;
        margin-top: 10%;
        padding: 1.2%;
    }

}